---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." navigateTo="showcase">
	<div class="mt-14 max-w-lg mx-auto">
		Thought... Music, Travel, Books and Code. All the things the things that should make up a <b>personal</b> website right?
		<br><br>
		BuilderOS is an Astro plugin (for now), that should make it easy for any hacker with little time to spin up a personal website. Whether that’s in the form of a resume, portfolio site, blog post. Your profile on the internet.
		<br><br>
		I have always had the idea of over-engineering my personal website, but also have something I could share with friends just starting off in tech. This project is exactly that.
		<br><br>
		And plugin is the MVP, but would like to add a database (for an editor mode), exploration into the fediverse (love the open web), and more pages like Podcasts, Books, etc, which will come with integrations.
	</div>
</Layout>