---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." navigateTo="showcase">
	<div class="mt-14 max-w-lg mx-auto">
		In November 2023, As one does at the end of the year, I started reworking my personal website. At the time I was looking back on the year, listening to a lot of music, podcasts, between road trips and playing around with different tools. Which made up everything we have now.
		<br><br>
		BuilderOS is an Astro plugin, that should make it easy for any hacker with little time to spin up a personal website. Whether that’s in the form of a resume, portfolio site, blog post or just to have a profile on the internet.
		<br><br>
		In the perfect world of personal websites, it would be builders, sharing their travels, taste in music, work, thoughts through blog posts. This is the idea this project is inspired by.		
		<br><br>
		<b>Roadmap 🗓️</b>
		<br><br>
		My personal website has always been something I wanted to over-engineer. The plugin is an MVP, but I do have plans to add database (for an editor mode), exploration into the fediverse, and more pages like Podcasts, Books, etc, which will come with integrations.
	</div>
</Layout>